.container{
  width: 100vw;
  max-width: 100%;
  margin: 25vh auto;
  perspective: 100em;
}
.carousel{
  width: 50vh;
  height: 50vh;
  padding: 0;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}
.carousel[data-slide="1"] {
  transform: rotateY(0deg);
}
.carousel[data-slide="2"] {
  transform: rotateY(-90deg);
}
.carousel[data-slide="3"] {
  transform: rotateY(-180deg);
}
.carousel[data-slide="4"] {
  transform: rotateY(-270deg);
}
.slides{
  width: 50vh;
  height: 50vh;
  position: absolute;
  background: white;
  img{width: 100%; height: 100%; object-fit: cover;}
}
.back, .slides:nth-child(3) {
  transform: translateZ(-25vh) rotateY(180deg);
}
.right, .slides:nth-child(2) {
  transform: rotateY(-270deg) translateX(25vh);
  transform-origin: top right;
}
.left, .slides:nth-child(4) {
  transform: rotateY(270deg) translateX(-25vh);
  transform-origin: center left;
}
.front, .slides:nth-child(1) {
  transform: translateZ(25vh);
}

.next, .prev {
  position: absolute;
  top: 50%;
  right: 0;
  width: 6em;
  margin-top: -2.5em;
  border-radius: 3px;
  background: #212121;
  text-align: center;
  line-height: 3;
  letter-spacing: 5px;
  color: white;
  transform: translateY(-50%);
  cursor: pointer;
}
.prev:hover {
  background:  #e60023;
}
.prev {
  left: 0;
}
.next:hover {
  background:  #e60023;
}
.cf:before, .slides:before,
.cf:after,
.slides:after {
  content: " ";
  display: table;
}
.cf:after, .slides:after {
  clear: both;
}
.cf, .slides {
  *zoom: 1;
}