.wrapper{
  height: 100vh; overflow: hidden;
}
.fullpage{
  width: 100vw; overflow: hidden;
  transition: transform .5s linear;
}
.page{
  width: 100vw; height: 100vh; display: block;
}
.page1{background: #ccc;}
.page2{background: #c0c0c0;}
.page3{background: #c3e6cb;}
.page4{background: #c4bc96;}