html{transition: .25s;}
body.horizontal-scroll {
  white-space: nowrap;

}
body {
  min-height: 100vh;
  background-color: #12111F;
  font-size: 14px;
  line-height: 1.8;
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

}
h6{color: #fff;}
a{color: #fff;}
.header {
  transition: all 0.2s ease;
  .logo {
    display: block;
    position: fixed;
    left: 15%;
    width: 130px;
    top: 55px;
    z-index: 100;
    padding-left: 20px;
    transition: all 0.2s ease;
  }
  .logo-wrap {
    width: 110px;
    height: 33px;
    overflow: hidden;
    transition: all 0.65s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .logo-box {
    width: 0px;
    height: 29px;
    transition: all 0.65s cubic-bezier(0.86, 0, 0.07, 1);
    position: absolute;
    left: 100%;
    background: #EC2026;
    top: 0;
  }
  .logo svg {
    fill: #fff;
  }
  .logo span {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: rgba(255,255,255,0.5);
    transition: all 0.3s ease;
    transition-delay: .3s;
    opacity: 0;
  }
}
.dynamic_load {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  pointer-events: none;
}
.works {
  position: fixed;
  display: block;
  top: 55px;
  z-index: 100;
  right: 10%;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  padding-right: 25px;
}
.q_magnet {
  display: block;
  transition: all 260ms ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  will-change: transform;
}

.nav-menu {
  position: fixed;
  left: 2%;
  z-index: 3;
  top: 50%;
  margin-top: -30px;
  height: 60px;
  width: 58px;
  padding: 20px;
  transition: all 0.2s ease;
}
.nav-menu span.line {
  width: 1px;
  height: 30px;
  background: #fff;
  display: block;
  position: absolute;
  top: 20px;
  transition: all 0.3s ease;
}

.nav-menu span.line:nth-child(1) {
  left: 20px;
}
.nav-menu span.line:nth-child(2) {
  left: 28px;
}
.nav-menu span.line:nth-child(3) {
  left: 36px;
}

.nav-menu span.text {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  display: block;
  opacity: 0;
  transition: all 0.4s ease;
  transform: rotate(-90deg) translateX(-40px);
}

.nav-menu:hover{
  span.line:nth-child(1) {
    height: 0;
  }
  span.line:nth-child(2) {
    height: 50px;
  }
  span.line:nth-child(3) {
    height: 0;
  }
  span.text {
    transform: rotate(-90deg) translateX(-60px);
    opacity: 1;
  }
}

.q_horizontal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 0;
}
.works-wrapper {
  display: flex;
  position: absolute;
  top: calc(50% - 27vh);
  height: 54vh;
  font-size: 0;
  transition: transform 1s ease-out;
}
a.works-item {
  margin-left: 15vw;
  display: inline-block;
  position: relative;
  perspective: 500px;
  perspective-origin: 50% 50%;
  &:hover{color: #fff;}
}
a.works-item date span {
  display: inline-block;
  width: 40px;
  height: 1px;
  margin-top: -5px;
  background: #FFF;
}
a.works-item date {
  font-family: 'mono', monospace, monospace;
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  color: #FFF;
  z-index: 11;
  transform: rotate(-90deg);
  top: 35px;
  left: -74px;
}
a.works-item figure {
  opacity: .6;
  width: 60vw;
  height: 60vh;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
a.works-item figure .work-image-wrapper {
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  transition: 1s linear;
}
a.works-item figure .work-image {
  background-size: cover !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.8s ease;
}
a.works-item figure .work-image img {
  width: 100%; height: 100%; object-fit: cover; object-position: top center;
}
a.works-item .text {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 3;
  max-width: 400px !important;
  transition: 1.1s ease-out;
}
a.works-item .text h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
a.works-item .text h1 {
  margin: 0;
  margin-top: 10px;
  font: 700 64px/1 "mn", sans-serif;
}
a.works-item .text p {
  font-size: 15px;
  max-width: 200px;
  display: block;
}
.works:after, .works:before {
  content: "";
  position: absolute;
  background: #fff;
  display: block;
  transition: all 0.15s ease;
}
.works:before {
  right: 4px;
  top: 14px;
  width: 1px;
  height: 9px;
}
.works:after {
  right: 0;
  top: 18px;
  width: 9px;
  height: 1px;
}

.vs-scrollbar {
  display: block;
  position: absolute;
}

.vs-scrollbar.vs-vertical {
  top: 0; right: 0; bottom: 0;
  width: 5px; height: 100%;
}

.vs-scrollbar.vs-horizontal {
  bottom: 0; left: 0; right: 0;
  width: 100%; height: 5px;

}

.vs-scrollbar .vs-scrolldrag {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.section {
  position: fixed;
  bottom: 0;
}

// wrapper scroll
.wrapper-scroll{
  width: 100%;
  min-height: 2000px;
}

.img-container{
  width: 80vw;
  height: 60vw;
  margin: 0 5vw;
  transform: translate3d(0,0,0);
}