<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <!-- endbuild -->
    <style>
        .clamp{max-width: 500px; width: 100%; height: 300px; background: #000; color: #ffff; margin: 10px auto;}
        h1 {
            font-size: clamp(24px, 5vw, 34px);
        }
    </style>
</head>
<body>

<div class="clamp">
    <h1>liverpool</h1>
    <p>demo</p>
</div>

<script src="./assets/js/jquery-3.1.1.min.js"></script>
</body>
</html>