<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        @media (prefers-color-scheme: dark){
            body {
                background-color: black;
                color: #fff;
            }
        }
    </style>
    <!-- endbuild -->
</head>
<body class="{{bodyClasses}}">
<div id="logo">
    lfc
</div>
<div class="split">
    The Nite Jogger was released in 1980 as adidas' first reflective urban runner.
</div>


<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
</body>
</html>