<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-fullpage.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {
        let height_viewport = 0 - window.innerHeight;
        let number_page = $('.page').length;
        let height_fullpage = window.innerHeight * number_page;
        var count_scroll = 1;
        $(window).on('wheel',function () {
            let height_scroll = count_scroll * height_viewport;
            $('.fullpage').css({"transform":"translateY("+height_scroll+"px)"});
            count_scroll++;
            if (count_scroll > number_page){
                count_scroll = number_page;
            }
            console.log(count_scroll);
        });
    });
</script>
</body>
</html>