<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-scroll.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="{{bodyClasses}}horizontal-scroll is-virtual-scroll x-scroll">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="./assets/js/simpleParallax.min.js"></script>
<script src="./assets/js/jquery.jInvertScroll.js"></script>
<script>

   var current = 0;

var doScroll = function (e) {
    // cross-browser wheel delta
    e = window.event || e;
    var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));

    // Do something with `delta`
    current = current + (delta * 120);
    var width_scroll = $('.works-wrapper').width() + 100;
    var w_window = $(window).innerWidth();
    if(current >= 0){
        current = 0;
    }else if(current <= -(width_scroll) + w_window){
        current = -(width_scroll) + w_window;
    }
    $(".works-wrapper").css({"transform":"translate3d("+current+"px,0,0)"});
    
};

if (window.addEventListener) {
    window.addEventListener("mousewheel", doScroll, false);
    window.addEventListener("DOMMouseScroll", doScroll, false);
} else {
    window.attachEvent("onmousewheel", doScroll);
}



   var image = document.getElementsByClassName('thumbnail');
   new simpleParallax(image, {
   orientation: 'right',


   });
</script>
</body>
</html>