<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-scroll1.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="{{bodyClasses}}horizontal-scroll is-virtual-scroll x-scroll">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="./assets/js/scroll.js"></script>
<script>

</script>
</body>
</html>