<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-scroll.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="{{bodyClasses}}horizontal-scroll is-virtual-scroll x-scroll">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
    var current = 0, scroll_h = 0, scroll_text = 0;
    var doScroll = function (e) {
        // cross-browser wheel delta
        e = window.event || e;
        var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));

        // Do something with `delta`
        current = current + (delta * 120);
        scroll_h = scroll_h + (delta * 10);
        scroll_text = scroll_text + (delta * 30);
        var width_scroll = $('.works-wrapper').width() + 100;
        var w_window = $(window).innerWidth();
        if(current >= 0){
            current = 0;
            scroll_h = 0;
        }else if(current <= -(width_scroll) + w_window){
            current = -(width_scroll) + w_window;
        }
        console.log(scroll_h);
        $(".works-wrapper").css({"transform":"translate3d("+current+"px,0,0)"});
        $('.work-image-wrapper').css({"transform":"translate3d("+scroll_h+"px,0,0)"});
    };

    var current_scroll = 0;
    var scroll_horizontal = function(elment) {
        e = window.event || e;
        var delta1 = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));

        // Do some thing with 'delta'
        current_scroll = current_scroll + (delta1 * 30);
        console.log(current_scroll);
        if(current_scroll > 0){
            current_scroll = 0;
        }else if(current_scroll <= -400){

        }
        $(elment).css({"transform":"translate3d("+current_scroll+"px,0,0)"});
    }

    if (window.addEventListener) {
        window.addEventListener("mousewheel", doScroll, false);
        window.addEventListener("DOMMouseScroll", doScroll, false);
    } else {
        window.attachEvent("onmousewheel", doScroll);
    }

    $.fn.isInViewport = function() {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight() - 100;

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height() - 100;

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    $(window).on('resize scroll load', function() {
        $('.text').each(function() {
            if ($(this).isInViewport()) {
                if (window.addEventListener) {
                    window.addEventListener("mousewheel", scroll_horizontal(this), false);
                    window.addEventListener("DOMMouseScroll", scroll_horizontal(this), false);
                } else {
                    window.attachEvent("onmousewheel", scroll_horizontal(this));
                }
            }
        });
    });
</script>
</body>
</html>