<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .split{
            width: 100vw; height: 100vh;
            display: flex; align-items: center; justify-content: center;
            font-size: 20px;
        }
    </style>
    <!-- endbuild -->
</head>
<body class="{{bodyClasses}}">
<div id="logo">
    lfc
</div>
<div class="split">
    The Nite Jogger was released in 1980 as adidas' first reflective urban runner.
</div>


<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/gsap.min.js"></script>
<script src="./assets/js/splittext.js"></script>
<script>
    var text = $('.split');
    var split = new SplitText(text);
    function  random(min, max) {
        return (Math.random() * (max - min) + min);
    }
    $(split.chars).each(function (i) {
        TweenMax.from($(this), 2.5, {
            opacity: 0,
            x: random(-300,300),
            y: random(-300,300),
            z: random(-300,300)
        })
    });

    gsap.from("#logo", {duration: 1, x: 100, onComplete: tweenComplete});
    function tweenComplete() {
        console.log('animation finished');
    }
</script>
</body>
</html>