<div class="container">
    <div class="carousel" data-slide="1">
        <div class="slides">
            <img src="./assets/images/cube5.jpg" />
        </div>
        <div class="slides">
            <img src="./assets/images/cube6.jpg" />
        </div>
        <div class="slides">
            <img src="./assets/images/cube7.jpg" />
        </div>
        <div class="slides">
            <img src="./assets/images/cube8.jpg" />
        </div>
    </div>
    <div class="next">NEXT &#8680;</div>
    <div class="prev">&#8678; PREV</div>
</div>