<div id="head" class="header">
    <a href="/" class="logo hover-target" id="main-logo" title="Clorova — Bali Media Production">
        <div class="logo-wrap" id="logo-wrap">
            <img src="./assets/images/svgexport-0.svg" alt="">
        </div>
        <div class="logo-box" id="logo-box"></div>
        <span>Media Production</span>
    </a>
    <a href="/works" class="works q_magnet hover-target">All Works</a></li>
    <div class="nav-menu hover-target" id="nav">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="text">Menu</span>
    </div>
</div>
<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>
<div id="dynamicLoad" class="dynamic_load">
    <div class="progress">
        <div class="bar" id="dynamicBar"></div>
    </div>
</div>
<div class="section vs-section works-wrapper">
    <a href="/works/the-ocean" class="vs-transform works-item hover-target">
        <date>01 <span></span> 06</date>
        <figure class="image-container">
            <div class="work-image-wrapper vsh" data-speed="-.1">
                <div class="work-image">
                    <img class="thumbnail" src="./assets/images/thumb.jpg" alt="The Ocean Champagne Bar by Clorova" />
                </div>
            </div>
        </figure>
        <div class="text vsh" data-speed=".2">
            <h5>Bali — 2017</h5>
            <h1>The Ocean</h1>
            <p>Photography — Documentation</p>
        </div>
    </a>
    <a href="/works/prama" class="vs-transform works-item hover-target">
        <date>02 <span></span> 06</date>
        <figure class="image-container">
            <div class="work-image-wrapper vsh" data-speed="-.1">
                <div class="work-image">
                    <img class="thumbnail" src="./assets/images/thumb1.jpg" alt="Prama Sanur by Clorova" />
                </div>
            </div>
        </figure>
        <div class="text vsh" data-speed=".2">
            <h5>Bali — 2017</h5>
            <h1>Prama</h1>
            <p>Photography, 360 — Interior</p>
        </div>
    </a>
    <a href="/works/mowilex" class="vs-transform works-item hover-target">
        <date>03 <span></span> 06</date>
        <figure class="image-container">
            <div class="work-image-wrapper vsh" data-speed="-.1">
                <div class="work-image">
                    <img class="thumbnail" src="./assets/images/thumb2.jpg" alt="Mowilex by Clorova" />
                </div>
            </div>
        </figure>
        <div class="text vsh" data-speed=".2">
            <h5>Bali — 2017</h5>
            <h1>Mowilex</h1>
            <p>Photography, Video — Documentation, Book</p>
        </div>
    </a>
    <a href="/works/the-acala" class="vs-transform works-item hover-target">
        <date>04 <span></span> 06</date>
        <figure class="image-container">
            <div class="work-image-wrapper vsh" data-speed="-.1">
                <div class="work-image">
                    <img class="thumbnail" src="./assets/images/thumb3.jpg" alt="The Acala by Clorova" />
                </div>
            </div>
        </figure>
        <div class="text vsh" data-speed=".2">
            <h5>Bali — 2018</h5>
            <h1>The Acala</h1>
            <p>Photography — Interior</p>
        </div>
    </a>
    <a href="/works/jannata" class="vs-transform works-item hover-target">
        <date>05 <span></span> 06</date>
        <figure class="image-container">
            <div class="work-image-wrapper vsh" data-speed="-.1">
                <div class="work-image">
                    <img class="thumbnail" src="./assets/images/thumb4.jpg" alt="Jannata Resorts by Clorova" />
                </div>
            </div>
        </figure>
        <div class="text vsh" data-speed=".2">
            <h5>Bali — 2018</h5>
            <h1>Jannata</h1>
            <p>Photography — Interior, Lifestyle</p>
        </div>
    </a>
    <a href="/works/pnk-hotels" class="vs-transform works-item hover-target">
        <date>06 <span></span> 06</date>
        <figure class="image-container">
            <div class="work-image-wrapper vsh" data-speed="-.1">
                <div class="work-image">
                    <img class="thumbnail" src="./assets/images/thumb5.jpg" alt="PNK Hotels by Clorova" />
                </div>
            </div>
        </figure>
        <div class="text vsh" data-speed=".2">
            <h5>Bali — 2017</h5>
            <h1>PNK Hotels</h1>
            <p>Photography — Interior, Lifestyle</p>
        </div>
    </a>
</div>







