<div id="overlay">
    <div id="loading-items">
        <a href="#" class="logo-loading" title="Clorova — Bali Media Production">
            <svg width="100px" height="28px" id="logo">
                <use xlink:href="#clorova_logo"></use>
            </svg>
        </a>
        <h5 id="progstat"></h5>
    </div>
</div>
<div id="content-overlay"></div>
<div id="progress-overlay"></div>
<div id="head" class="header">
    <a href="/" class="logo hover-target" id="main-logo" title="Clorova — Bali Media Production">
        <div class="logo-wrap" id="logo-wrap">
            <svg width="107px" height="24px">
                <use xlink:href="#clorova_logo"></use>
            </svg>
        </div>
        <div class="logo-box" id="logo-box"></div>
        <span>Media Production</span>
    </a>
    <a href="/works" class="works q_magnet hover-target">All Works</a></li>
    <div class="nav-menu hover-target" id="nav">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="text">Menu</span>
    </div>
</div>
<div class="menu-overlay" id="menu-overlay"></div>
<div id="menu" class="menu hideOnLoad">
    <div class="section_fixed" id="menu-inner">
        <div class="section__clip" id="menuClip">
            <div class="section__content">
                <header>
                    <div class="header-wrap">
                        <a href="http://fleava.com" target="_blank" class="logo fleava hover-target" title="Fleava — Bali Digital Agency">
                            <svg width="105px" height="24px">
                                <use xlink:href="#fleava_logo"></use>
                            </svg>
                            <span>Digital Agency</span>
                        </a>

                    </div>
                </header>
                <div class="nav-menu close hover-target" id="navClose">
                    <span class="line"></span>
                </div>
                <div class="menu-content">
                    <div class="columns">
                        <div class="column q-1-5">
                            <span class="line"></span>
                            <a href="/about" class="flare-hover hover-target barba_nav">
                                <h1 class="large">
                                    <span class="q_split"><span class="q_split_wrap menu-item">About</span> </span>
                                </h1>
                            </a>
                        </div>
                        <div class="column q-1-5">
                            <span class="line"></span>
                            <a href="/journal" class="flare-hover hover-target barba_nav">
                                <h1 class="large">
                                    <span class="q_split"><span class="q_split_wrap menu-item">Journal</span> </span>
                                </h1>
                            </a>
                            <div class="text">
                                <h5>Clorova Media Production</h5>
                                <p>Specialising in lifestyle, interiors, 360 and aerial photography and videography, Clorova work across a range of advertising, editorial, pr and corporate clients in Bali and Jakarta.</p>
                            </div>
                        </div>
                        <div class="column q-1-5">
                            <span class="line"></span>
                            <a href="mailto:hello@clorova.com" title="Contact Clorova" class="flare-hover hover-target">
                                <h1 class="large">
                                    <span class="q_split"><span class="q_split_wrap menu-item">Contact</span> </span>
                                </h1>
                            </a>
                            <div class="text">
                                <h5>Find Us</h5>
                                <p>#1 Beraban Square, Jalan Beraban No.46, Kerobokan, Badung, Bali - 80361, Indonesia</p>
                                <p>
                                    <a class="hover-target" href="https://www.facebook.com/clorova/" target="_blank" title="Clorova on Facebook">Fb &nbsp; &nbsp;</a>
                                    <a class="hover-target" href="https://www.instagram.com/clorova_id/" target="_blank" title="Clorova on Instagram">Ig &nbsp; &nbsp;</a>
                                    <a class="hover-target" href="https://twitter.com/clorova" target="_blank" title="Clorova on Twitter">Tw &nbsp; &nbsp;</a>
                                    <a class="hover-target barba_nav" href="/terms">Terms</a>
                                    <br><br>
                                    Website by <a href="http://fleava.com/" target="_blank" class="hover-target" title="Fleava Digital Agency">Fleava</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

<div id="dynamicLoad" class="dynamic_load">
    <div class="progress">
        <div class="bar" id="dynamicBar"></div>
    </div>
</div>

<div id="barba-wrapper">
    <div class="barba-container">
        <div id="main" class="q_horizontal">
            <div class="works-wrapper">
                <a href="/works/the-ocean" class="works-item hover-target">
                    <date>01 <span></span> 06</date>
                    <figure class="image-container">
                        <div class="work-image-wrapper vsh" data-speed="-.1">
                            <div class="work-image" style="background-image:url('./assets/images/thumb.jpg')">
                                <img src="./assets/images/thumb.jpg" alt="The Ocean Champagne Bar by Clorova" />
                            </div>
                        </div>
                    </figure>
                    <div class="text vsh" data-speed=".2">
                        <h5>Bali — 2017</h5>
                        <h1>The Ocean</h1>
                        <p>Photography — Documentation</p>
                    </div>
                </a>

                <a href="/works/prama" class="works-item hover-target">
                    <date>02 <span></span> 06</date>
                    <figure class="image-container">
                        <div class="work-image-wrapper vsh" data-speed="-.1">
                            <div class="work-image" style="background-image:url('./assets/images/thumb1.jpg')">
                                <img src="./assets/images/thumb1.jpg" alt="Prama Sanur by Clorova" />
                            </div>
                        </div>
                    </figure>
                    <div class="text vsh" data-speed=".2">
                        <h5>Bali — 2017</h5>
                        <h1>Prama</h1>
                        <p>Photography, 360 — Interior</p>
                    </div>
                </a>

                <a href="/works/mowilex" class="works-item hover-target">
                    <date>03 <span></span> 06</date>
                    <figure class="image-container">
                        <div class="work-image-wrapper vsh" data-speed="-.1">
                            <div class="work-image" style="background-image:url('./assets/images/thumb2.jpg')">
                                <img src="./assets/images/thumb2.jpg" alt="Mowilex by Clorova" />
                            </div>
                        </div>
                    </figure>
                    <div class="text vsh" data-speed=".2">
                        <h5>Bali — 2017</h5>
                        <h1>Mowilex</h1>
                        <p>Photography, Video — Documentation, Book</p>
                    </div>
                </a>

                <a href="/works/the-acala" class="works-item hover-target">
                    <date>04 <span></span> 06</date>
                    <figure class="image-container">
                        <div class="work-image-wrapper vsh" data-speed="-.1">
                            <div class="work-image" style="background-image:url('./assets/images/thumb3.jpg')">
                                <img src="./assets/images/thumb3.jpg" alt="The Acala by Clorova" />
                            </div>
                        </div>
                    </figure>
                    <div class="text vsh" data-speed=".2">
                        <h5>Bali — 2018</h5>
                        <h1>The Acala</h1>
                        <p>Photography — Interior</p>
                    </div>
                </a>

                <a href="/works/jannata" class="works-item hover-target">
                    <date>05 <span></span> 06</date>
                    <figure class="image-container">
                        <div class="work-image-wrapper vsh" data-speed="-.1">
                            <div class="work-image" style="background-image:url('./assets/images/thumb4.jpg')">
                                <img src="./assets/images/thumb4.jpg" alt="Jannata Resorts by Clorova" />
                            </div>
                        </div>
                    </figure>
                    <div class="text vsh" data-speed=".2">
                        <h5>Bali — 2018</h5>
                        <h1>Jannata</h1>
                        <p>Photography — Interior, Lifestyle</p>
                    </div>
                </a>

                <a href="/works/pnk-hotels" class="works-item hover-target">
                    <date>06 <span></span> 06</date>
                    <figure class="image-container">
                        <div class="work-image-wrapper vsh" data-speed="-.1">
                            <div class="work-image" style="background-image:url('./assets/images/thumb5.jpg')">
                                <img src="./assets/images/thumb5.jpg" alt="PNK Hotels by Clorova" />
                            </div>
                        </div>
                    </figure>
                    <div class="text vsh" data-speed=".2">
                        <h5>Bali — 2017</h5>
                        <h1>PNK Hotels</h1>
                        <p>Photography — Interior, Lifestyle</p>
                    </div>
                </a>
                <div class="reveal"><div class="rev_item"></div></div>
            </div>
        </div>
    </div>
</div>








